<!DOCTYPE html>
<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Lato');
		</style>
	</head>
	<body style="margin:0; padding:8; background-color: #fff;font-family: 'Lato','Helvetica';">
		<p>Hey there,</p>
		<p>Someone requested a new password for your Radica account. Click the link below to reset your password</p>
		<a href="{{.Link}}">{{.Link}}</a>
		<p>If you didn't make this request then you can safely ignore this email :)</p>
		<hr>
        <p>The Radica Team</p>
		<p>P.S. We're always around and love hearing from you. Please get in touch if you want to ask something or even just to say hello.</p>
	</body>
</html>